<!--<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= render 'follow_form' if signed_in? %>
      <% if @user.microposts.any? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>--!>
<div class="container">
<div id="profile-left">
	<div class="user-top">
		<div class="user-photo">
			<%= gravatar_for @user %>
		</div>
		<div class="user-name">
			<h1><%= @user.name %></h1>
		</div>
	</div>
		<div class="user-header">
			<h3>Recent Yaps</h3>
		</div>
		<div class="user-posts">
			<% if @user.microposts.any? %>
        	<table class="microposts" summary="User microposts">
        	  <%= render @microposts %>
        	</table>
        	<%= will_paginate @microposts %>
      	<% end %>
      </div>
</div>
<div id="profile-right">
<%= render 'follow_form' if signed_in? %>
<%= @user.microposts.count %>
      <%= render 'shared/stats' %>
</div>
</div>

