<% if signed_in? %>
<div class="container">
	<div id="left">
		<div class="left-header">
			<h2>What's Up?</h2>
		</div>
		<div class="form">
			<%= render 'shared/micropost_form' %>
		</div>
		<div class="seperator"></div>
		<div class="feed">
			<%= render 'shared/feed' %>
		</div>
	</div>
	<div id="right">
		<div class="right-header">
			<h3>Today's Featured Games</h3>
		</div>
	</div>
</div>
<% else %>
<div id="newuser">
	<div class="wrap">
		<div class="bottom-left">
			<div class="newtitle">
				Yap, Pick & Compete with other Fans.
			</div>
			<div class="newdesc">
				FanYap connects you with passionate sport fans all around the globe who are 
				all picking games, yapping & moving up the FanYap leaderboards. Take a minute 
				and sign up today. Share, compare & compete your picks against your friends.
			</div>
		</div>
		<!-- <%= link_to "Sign up now!", signup_path %> --!>
	</div>
</div>
<div id="bottom">
	<div class="wrap">
		<div class="app">
			<%= image_tag("app.png", :alt => "FanYap iPhone App") %>
		</div>
		<div class="feat">
			<%= image_tag("feat.png", :alt => "Featured On") %>
		</div>
		<div class="online">
			<%= image_tag("online.png", :alt => "We're On FanYap") %>
		</div>
	</div>
</div>

<% end %>